* {
    margin: 0;
    padding: 0;
color: black;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
   
/* this is my heading section styles   */
header {
    display: flex;
    align-items: center;
 position: absolute;
    top: -3%;
   
}

header nav{
     display: flex;
}
header .ham-menu{
height: 50px;
width: 50px;
left: 15%;
position: relative;
top: 100%;
}

header .ham-menu h5{
    top: 100%;
}

header .ham-menu span{
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .ham-menu span:nth-last-child(1){
    top: 25%;
}

header .ham-menu span:nth-last-child(3){
    top: 75%;
}

header .ham-menu.active span:nth-last-child(1){
    top: 50%;
    transform: translate(-50%, -50%); rotate:(-45deg);

    }
/* / off the screen  */
header .off-screen-menu {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    font-weight: 600;
    transition: 3s ease;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .off-screen-menu.active{
    left: 0;
}
header .header-inner{
display: flex;
justify-content: space-between;
color: #fff;
gap: 100%;
padding-left: 15%;
}






/* my heading section styles ends here  */

/* this is my hero section styles  */
#hero {
    height: 60vh;
    width: 100%;
    background-image: url(../images/Rectangle\ 1.png);
    background-position: center center;
    background-size: cover;
    display: flex;
   justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20%;
   color: #fff;
  
   
    
}
#hero h1{

    font-weight: 700;
     padding-top: 70%;
    padding-left: 10%;
    font-size: small;

}


#hero h4 {
font-weight: 850px;
padding-top: 70%;
padding-right: 10%;
font-size: small;
}

/* my hero section styles ends here  */

/* this is my third section styles  */
#three {
  display: flex;
  justify-content: space-between;
   margin: 4%;
  padding-top: 5%;
  padding-bottom: 10%;
  color: whitesmoke;
      

}



#three .threeinner h4 {
font-weight: 700;
font-size: 100%;
padding-left: 5px;
padding-top: 85px;
padding-bottom: 10px;
}
#three .threeinner h5{
font-weight: 400;
padding-left: 5px;
padding-top: 2px;
padding-bottom: 2px;
font-size: 80%;
}
#three image  {
    height: 20vh;
    
}
#three .threelink a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 100%; 
    padding-left: 1px; 
    padding-top: 300px; 

}



/* my third section style ends here  */

/* this is my fourth section styles  */

#four {
  background-color: whitesmoke; 
  padding-top: 3%;
  padding-bottom: 5%;
}
#four h2 {
font-weight: 800;
font-size: 210%;
padding-top: 40px;
padding-bottom: 80px;
text-align: center;


} 

#four .cards {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}  

#four .card {

    flex: 0 0 100%;
    scroll-snap-align: center;
}

#four .cards .card img{
    width: 100%;
    height: auto;

}
#four .cards h2{
font-weight: bold;
}

/* my fourth section styles ends here  */

/* this is my fifth section styles  */

/* my fifth section styles ends here  */

/* this is my sixth section styles  */
#six {
 background-color: whitesmoke; 
 margin-top: 10%; 
 margin-bottom: 10%;
 padding-top: 5%;
 padding-bottom: 10%; 
}
#six h2{
font-weight: bold;
text-align: center;
font-size: 250%;
padding-top: 100px;
}

#six .texts {
display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory;

}

#six .texts .lefttext {
width: 100%;
height: auto;
}

#six .texts .righttext{
    width: 100%;
    height: auto;

}
#six .texts .logotwo{
    text-align: left;
}

#six .texts .lefttext .logoone image {
    text-align: left;
}
#six .lefttext {
 padding-left: 50px;
 flex: 0 0 100%;
 scroll-snap-align: center;  

}


#six .lefttext p{
margin-top: -2%;
}

#six .lefttext image {
   padding-left: 100px;

}


#six .righttext {
    padding-right: 50px;
    flex: 0 0 100%;
    scroll-snap-align: center;
}





/* my sixth section styles ends  */

/* this is my seventh section styles  */

#seven {
 background-color: whitesmoke;
padding-top: 4%;  
}
#seven  h2{
    padding-top: 2%;
 font-weight: 800;   
 text-align: center;
}

#seven .forms{
    text-align: center;
    padding: 20%;
    display: grid;
   
}

#seven h2 {
    text-align: center;
    font-size: 200%;
}

#seven p {
text-align: center;

}

#seven a {
font-size: 100%;
text-decoration: none;
color: #000000;
font-weight: 800;
text-align: end;

}
/* my seventh section styles ends here   */

/* this is my footer section styles  */
footer {
display: grid; 
justify-content: center;
align-items: center;
text-align: center;
background-color: #000000;

padding-top: 20%;
padding-bottom: 5%;
    }

footer .headings {
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: smaller;
} 

 
footer .paragraphs  {
    
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    gap: 5%;
 
    
}

footer .paragraphs p{
    color: #fff;
}

footer span {
    color: #fff;
}
 
/* my footer section styles ends here  */
    













@media (min-width:1200px) {
    /* this is my heading section styles   */
header {
    display: flex;
    align-items: center;
 position: absolute;
    top: -3%;
   
}

header nav{
     display: flex;
}
header .ham-menu{
height: 50px;
width: 50px;
left: 15%;
position: relative;
top: 100%;
}

header .ham-menu h5{
    top: 100%;
}

header .ham-menu span{
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .ham-menu span:nth-last-child(1){
    top: 25%;
}

header .ham-menu span:nth-last-child(3){
    top: 75%;
}

header .ham-menu.active span:nth-last-child(1){
    top: 50%;
    transform: translate(-50%, -50%); rotate:(-45deg);

    }
/* / off the screen  */
header .off-screen-menu {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    font-weight: 600;
    transition: 3s ease;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .off-screen-menu.active{
    left: 0;
}
header .header-inner{
display: flex;
justify-content: space-between;
color: #fff;
gap: 100%;
padding-left: 15%;
}






/* my heading section styles ends here  */

/* this is my hero section styles  */
#hero {
    height: 60vh;
    width: 100%;
    background-image: url(../images/Rectangle\ 1.png);
    background-position: center center;
    background-size: cover;
    display: flex;
   justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20%;
   color: #fff;
  
   
    
}
#hero h1{

    font-weight: 700;
     padding-top: 70%;
    padding-left: 10%;
    font-size: small;

}
#hero .heroinner{

}

#hero .heroinner .icon-link{

}


#hero h4 {
font-weight: 850px;
padding-top: 70%;
padding-right: 10%;
font-size: small;
}

/* my hero section styles ends here  */

/* this is my third section styles  */
#three {
  display: flex;
  justify-content: space-between;
   margin: 4%;
  padding-top: 5%;
  padding-bottom: 10%;
  color: whitesmoke;
      

}



#three .threeinner h4 {
font-weight: 700;
font-size: 40px;
padding-left: 5px;
padding-top: 85px;
padding-bottom: 10px;
}
#three .threeinner h5{
font-weight: 400;
padding-left: 5px;
padding-top: 2px;
padding-bottom: 2px;
}

#three .threelink a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 100%; 
    padding-left: 1px; 
    padding-top: 300px; 

}

#three .threelink .icon{

}

/* my third section style ends here  */

/* this is my fourth section styles  */

#four {
  background-color: whitesmoke; 
  padding-top: 3%;
  padding-bottom: 5%;
}
#four h2 {
font-weight: 800;
font-size: 210%;
padding-top: 40px;
padding-bottom: 80px;
text-align: center;

border-bottom: ;
} 

#four .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#four .cards image{

}
#four .cards h2{
font-weight: bold;
}

/* my fourth section styles ends here  */

/* this is my fifth section styles  */

/* my fifth section styles ends here  */

/* this is my sixth section styles  */
#six {
 background-color: whitesmoke; 
 margin-top: 10%; 
 margin-bottom: 10%;
 padding-top: 5%;
 padding-bottom: 10%; 
}
#six h2{
font-weight: bold;
text-align: center;
font-size: 35px;
padding-top: 100px;
}

#six .texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
#six .texts .logotwo{
    text-align: left;
}

#six .texts .lefttext .logoone image {
    text-align: left;
}
#six .lefttext {
 padding-left: 50px;   

}


#six .lefttext p{
margin-top: -2%;
}

#six .lefttext image {
   padding-left: 100px;

}

#six .lefttext h6 {

}
#six .lefttext .h7 {
    
}


#six h2{

}

#six .righttext {
    padding-right: 50px;

}




#six .righttext p{

}

#six .righttext image {

}

#six .righttext h6 {

}
#six .righttext .h7 {
    
}
/* my sixth section styles ends  */

/* this is my seventh section styles  */

#seven {
 background-color: whitesmoke;
padding-top: 4%;  
}
#seven  h2{
    padding-top: 2%;
 font-weight: 800;   
 text-align: center;
}

#seven p{
    text-align: center;
}
/* my seventh section styles ends here   */

/* this is my footer section styles  */
footer {
display: grid; 
justify-content: center;
align-items: center;
text-align: center;
background-color: black;
color: #fff;
padding-top: 2%;
padding-bottom: 2%;

    }

 footer .logo image{
       text-align: center;
     }
    footer .lineone hr{
        width: 100%;
        height: 100px;
        border-color: #fff;
    }

    footer .headings {
        display: grid;
    }
footer .headings .one h5 {
  color: #fff;  
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: -15%;
  margin-left: -30%;
    }
   
 footer .headings .two h5{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-align: center; 
       margin-top: -15%;
       margin-left: -30%;
    }



    footer .headings .three h5{
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-align: right; 
        margin-top: -15%; 
       
    }

    footer .paragraphs{
display: grid;

    }
footer .oneparagraph p{
    color: #fff;
   text-align: left;
   font-weight: 300;
   margin-left: -30%;
}
footer .twoparagraph p{
    color: #fff;
   text-align: center;
   font-weight: 300;
   margin-top: -23%;
   margin-left: -30%;
}
footer .three .threeparagraph p{
    color: #fff;
   text-align: right;
   font-weight: 300;
   margin-top: -23%;
  
}

footer span {
    color: #fff;
    font-weight: 600;
   font-size: 105%;
}
/* my footer section styles ends here  */
    

    
}